@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  background-color: black;
  color: white;
  line-height: 1.8em;
}

a {
  color: #ff7613;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url("./images/back.jpeg");
  background-size: cover;
  background-position: fixed;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 50%;
  max-width: 200px;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
  color: #ff7613; 
}

.profile_name_firstName {
	color: white;
	font-weight: 200;
  text-transform: uppercase;
  font-size: clamp(2rem, 8vw, 4rem);
  margin-bottom: 20px;
}
.profile_name_lastName {
	font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(2rem, 8vw, 4rem);
}

h3 {
  text-transform: uppercase;
  color: #ff7513;
}

h3, h4 {
  font-weight: bold;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.course, .skills{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  /* color: #509e98 ; */
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.course .descrition {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.course .descrition p {
  padding-left: 1em;
  text-align: justify;
}

.image-container {
  position: relative;
  display: inline-block;
  
}

.image-container:hover .hover-image {
  display: block;
}

.hover-text {
  display: inline-block;
}

.hover-image {
  display: none;
  position: absolute;
  /* border-radius: 5%; */
  border-radius: 15px;
  padding: 5px;
  padding-left: 0px;
  width: 600px; 
  z-index: 1;
}




.school{
  text-transform: capitalize;
}

.Skills{
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  gap:50px;
}


.social{
  width: 6%; 
  border-radius: 10%;
}

footer {
 padding: 1em 1.5em;
 background-image: url("./images/back.jpeg");
 color: white;
 text-align: right;
}

.profile{
  display: flex;
}

.profile_name{
  padding-top: 10%;
}

.inside{
  width:175px; 
}

.hover-container {
  position: relative;
  display: inline-block;
  color: #889499;
  
}

#c1:hover:before {
  content: "93.4%";
  display: block;
  transition: display 0.3s ease;
}

#c2:hover:before {
  content: "93.6%";
  display: block;
  transition: display 0.3s ease;
}

#c3:hover:before {
  content: "9.17";
  display: block;
  transition: display 0.3s ease;
}

.hover-container:hover .time {
  display: none;
  transition: display 0.3s ease;
}

.hover-container:hover{
  font-family: 'Courier New';
}

@media only screen and (max-width: 768px) {
  .course {
    display: block;
  }

  .course .title, .course .descrition {
    max-width: 100%;
  }
}



#if {
  display: none;
  border:none; 
  width: 600px;
  height: 500px;
  
}



.feed{
  padding-bottom: 0px;
}

@media only screen and (max-width: 1050px) {
  .Skills{
    display: block;
  }

  .Skills .block{
    border-bottom: 1px solid #ccc;
  }

  .try{
    padding-top:0px !important;
    display: flex;
    flex-direction: row;
    gap:50px;
    padding-bottom:10px !important;
  } 

  .social{
    width: 6.2%; 
    border-radius: 10%;
  }


  .final{
    padding-top:25px;
  }
  .inside{
    width:275px; 
  }
}
@media only screen and (max-width: 750px) {
  .profile{
    display: block;
  }
  .profile_name{
    padding-top: 0px;
  }
}

@media only screen and (max-width: 700px) {
  .try {
    flex-direction: column-reverse;
    gap:0px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
  }
  .catch {
    order: 2;
    padding-top: 0px !important;
    padding-bottom: 0px;
  }

  .final {
    order: 1;    
    padding-top: 0px !important;
    padding-bottom: 0px;
    margin-left: 5%;
  }

  .social{
    width: 7.5%; 
    border-radius: 10%;
  }

  .hover-image {
    width: 470px; 
  }

  #if {
    width: 400px;
    height: 490px;
  }
}

@media only screen and (min-width: 350px) and (max-width: 420px) {
  .social{
    width: 12%; 
    border-radius: 10%;
  }

  

}

@media only screen and (max-width: 550px) {
  
  .hover-image {
    width: 400px; 
  }
}

@media only screen and (max-width: 480px) {
  
  .hover-image {
    width: 350px; 
  }
}

@media only screen and (max-width: 390px) {
  .hover-image {
    width: 300px; 
  }

}

@media only screen and (max-width: 350px) {
  .social{
    width: 15%; 
    border-radius: 10%;
  }

}

@media only screen and (max-width: 576px) {
  footer {
    text-align: center;
  }
  .social{
    width: 10%; 
    border-radius: 10%;
  }
}



